#logo {
  max-width:70px;
  max-height:70px;
  width: auto;
  height: auto;
  margin: 0 0 0 0;
}

#helloLogo
{
	max-width: 100%;
	width: auto;
	height: auto;
}

.nav{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 230%;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.nav:hover
{
  text-decoration: none;
  color: black;
}

.navLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: black;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.navLink:hover:before,
.navLink:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

#currentPage:before
{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: black;
  visibility: visible;
  border-radius: 5px;
  transform: scaleX(1);
}

.col{
  margin-top: 40px;
  margin-bottom: 40px;
}

.bgimg-4 {
  background-position: center;
  background-size: cover;
  min-height: 100px;
}

.w3-bar .w3-button {
  padding: 16px;
}

footer {
  text-align: center;
  background: #1A1F21;
  font-size: 18px;
  height: 120px;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  color: #E74F74;
}

.fa {
  padding: 20px;
  color: white;
}
