#logo {
  max-width:70px;
  max-height:70px;
  width: auto;
  height: auto;
  margin: 0 0 0 0;
}

.card-img
{
  border-radius: 0;
}

.nav{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 230%;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.nav:hover
{
  text-decoration: none;
  color: black;
}

.navLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: black;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.navLink:hover:before,
.navLink:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.col{
  margin-top: 40px;
  margin-bottom: 40px;
}

.tint {
  position: relative;
  float: left;
  margin: 0 15px 15px 15px;
  border-radius: calc(.25rem - 1px);
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.quarter
{
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  font-size: 425%;
  color: rgb(249,249,249);
  font-family: 'Open Sans', sans-serif;
}

.year
{
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  font-size: 525%;
  color: rgb(249,249,249);
  font-family: 'Open Sans', sans-serif;
}

.generalYear
{
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 55%;
  transform: translateY(-50%);
  font-size: 525%;
  color: rgb(249,249,249);
  font-family: 'Open Sans', sans-serif;
}

.Q1_2017:before
{
  background: rgba(0,55,177,0.75);
}

.Q3_2017:before
{
  background: rgba(177,0,55,0.8);
}

.Q1_2018:before
{
  background: rgba(55,177,0,0.8);
}

.blank
{
  -webkit-filter: opacity(0%); /* Safari */
  filter: opacity(0%);
}

.fadeOut
{
  display: none;
  opacity: 0;
  transition: display 0s linear 300ms, opacity 300ms;
}

.fadeIn
{
  display: block;
  opacity: 1;
  transition: display 0s linear 0s, opacity 300ms;
}

.blankBackground
{
  background: rgba(0,0,0,0);
}

.noMargin
{
  margin: 0 0 0 0;
}

.noBottomMargin
{
  margin-bottom: 0;
}

.container .tint
{
  transition: margin 0.3s;
}

.register{
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  font-size: 525%;
  color: rgb(249,249,249);
  font-family: 'Open Sans', sans-serif;
}

.learnMore{
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 55%;
  transform: translateY(-50%);
  font-size: 525%;
  color: rgb(249,249,249);
  font-family: 'Open Sans', sans-serif;
}

.intro .intro-content {
  display: inline-block;
  border-radius: 40px;
  position: relative;
  z-index: 1;
}

.logo-wrap {
  position: relative;
  margin: 0 auto 50px;
}

.logo {
  display: block;
  max-width: 330px;
  width: 50%;
}

.text-center p, .text-center img {
  margin-left: auto;
  margin-right: auto;
}

.text-group2 {
  margin-top: -1em;
}

a {
  color: inherit;
}

a:hover {
  color: #B4B7BA;
}

.text-group .text-group__ft {
  margin-top: 20px;
}

.h3 {
  display: block;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 2.0rem;
  line-height: 1.85;
}

.wrapper {
  background: #2E4A62;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.intro {
  position: relative;
  display: flex;
  align-items: center;
  background: #2E4A62;
  overflow: hidden;
  z-index: 2;
  padding: 60px 0 150px;
}

