<!DOCTYPE html>
<html>
	<head>
        <meta charset='utf-8'>
        <title>Coding Weekends - About</title>
        {% load static %}
        <link rel='icon' href="{% static 'home/images/CodingWeekend.png' %}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel='stylesheet' type='text/css' href="{% static 'home/css/about.css' %}"/>
	</head>
	<body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{% url 'home:about' %}" class='nav navLink' id='currentPage'> About </a>
                </div>
                <div class="col">
                    <a href="{% url 'home:home' %}"><img src="{% static 'home/images/CodingWeekend.png' %}" alt="My image" id='logo' class="nav"/></a>
                </div>
                <div class="col">
                    <a href="{% url 'home:contact' %}" class='nav navLink'> Contact Us </a>
                </div>
            </div>
        </div>	

			<div class="w3-container" style="padding:5% 30%" >
			<a href="https://foothillcs.club/" target="_blank"><img src="{% static 'home/images/full-logo-transparente.png' %}" id="helloLogo"</img></a>
				<h3>Hello there reader,</h3>
				<p>
                    We are the <u><a href="https://foothillcs.club/" target="_blank">Computer Science Club at Foothill College</a></u>. <br/>
                    If you're interested in computer science, come meet us at <strong>room 5607 on Tuesdays from 3:30-5:30 PM</strong>.<br/>
                    During our club meetings we have workshops and encourage people to work on projects.<br/><br/>
                    To see some of the projects members of the club have worked on, make sure to check out our <u><a href="https://github.com/FoothillCSClub" target="_blank">GitHub</a></u>!
				</p>
			</div>

        <footer class="site-footer text-white">
            <span>
                <a href="https://www.facebook.com/cs.foothill" target="_blank">
                    <i class="fa fa-2x fa-facebook-square"></i>
                </a>
                <a href="https://github.com/FoothillCSClub" target="_blank">
                    <i class="fa fa-2x fa-github"></i>
                </a>
            </span>
            <h4 class="footer-text">Made by the <a href="https://cs.foothillstemclubs.org/" target="_blank">Foothill CS Club</a></h4>
        </footer>
	
	</body>

</html>
